[
    #foreach( $tenders in $results )
        {
            #set( $control_coma = false )
            #if ( $tenders.qid )
              #set ( $index = $tenders.qid.lastIndexOf("/") )
              #set ( $index = $index + 1 )
              #set ( $id = $tenders.qid.substring($index, $tenders.qid.length()) )
              #if ( $control_coma )
                ,
              #end
              "id" : "$id"
              #set( $control_coma = true )
            #end

            #if ( $tenders.qtitle )
              #if ( $control_coma )
                ,
              #end
              "title" : "$tenders.qtitle"
              #set( $control_coma = true )
            #end

            #if ( $tenders.qdescription )
              #if ( $control_coma )
                ,
              #end
              "description" : "$tenders.qdescription"
              #set( $control_coma = true )
            #end

            #if ( $tenders.qstatus )
              #if ( $control_coma )
                ,
              #end
              "status" : "$tenders.qstatus"
              #set( $control_coma = true )
            #end

            #if ( $tenders.releasepublisheddate )
              #if ( $control_coma )
                ,
              #end
              "_creationDate" : "$tenders.releasepublisheddate"
              #set( $control_coma = true )
            #end

        }
         #if ( $velocityCount < ${results.size()} )
            ,
         #end
    #end
]
