{
#set ( $index = $oid.lastIndexOf("/") )
#set ( $index = $index + 1 )
#set ( $ident = $oid.substring($index, $oid.length()) )
  #set( $control_coma = false )
  #if ( $ident )
    #if ( $control_coma )
      ,
    #end
    "id" : "$ident"
    #set( $control_coma = true )
  #end

  #if ( $qtitle )
    #if ( $control_coma )
      ,
    #end
    "title" : "$qtitle"
    #set( $control_coma = true )
  #end

  #if ( $qdescription )
    #if ( $control_coma )
      ,
    #end
    "description" : "$qdescription"
    #set( $control_coma = true )
  #end

  #if ( $qstatus )
    #if ( $control_coma )
      ,
    #end
    "status" : "$qstatus"
    #set( $control_coma = true )
  #end

  #if ( $qnumtenderers )
    #if ( $control_coma )
      ,
    #end
    "numberOfTenderers" : "$qnumtenderers"
    #set( $control_coma = true )
  #end

  #* Procurement *#
  #if ( $qprocurementmethod || $qprocurementmethoddetails )
    #if ( $control_coma )
      ,
    #end
      "procurement" : {
      #set( $control_sub = true )
      #set( $control_coma = false )
  #end

  #if ( $qprocurementmethod )
    #if ( $control_coma )
      ,
    #end
    "method" : "$qprocurementmethod"
    #set( $control_coma = true )
  #end

  #if ( $qprocurementmethoddetails )
    #if ( $control_coma )
      ,
    #end
    "methodDetails" : "$qprocurementmethoddetails"
    #set( $control_coma = true )
  #end

  #if ( $control_sub )
    }
  #end
  #set( $control_sub = false )

  #* Award *#
    #if ( $qawardcriteria || $qawardcriteriadetails || $qawardperiodstartdate || $qawardperiodenddate )
      #if ( $control_coma )
        ,
      #end
        "award" : {
        #set( $control_sub = true )
        #set( $control_coma = false )
    #end

    #if ( $qawardcriteria )
      #if ( $control_coma )
        ,
      #end
      "criteria" : "$qawardcriteria"
      #set( $control_coma = true )
    #end

    #if ( $qawardcriteriadetails )
      #if ( $control_coma )
        ,
      #end
      "criteriaDetails" : "$qawardcriteriadetails"
      #set( $control_coma = true )
    #end

      #* Award period level 2 *#
      #if ( $qawardperiodstartdate || $qawardperiodenddate )
        #if ( $control_coma )
          ,
        #end
          "period" : {
          #set( $control_sub2 = true )
          #set( $control_coma = false )
      #end

      #if ( $qawardperiodstartdate )
        #if ( $control_coma )
          ,
        #end
        "startDate" : "$qawardperiodstartdate"
        #set( $control_coma = true )
      #end

      #if ( $qawardperiodenddate )
        #if ( $control_coma )
          ,
        #end
        "endDate" : "$qawardperiodenddate"
        #set( $control_coma = true )
      #end

      #if ( $control_sub2 )
        }
      #end
      #set( $control_sub2 = false )

    #if ( $control_sub )
      }
    #end
    #set( $control_sub = false )

    #* Submission *#
    #if ( $qsubmissionmethod || $qsubmissionmethoddetails )
      #if ( $control_coma )
        ,
      #end
        "submission" : {
        #set( $control_sub = true )
        #set( $control_coma = false )
    #end

    #if ( $qsubmissionmethod )
      #if ( $control_coma )
        ,
      #end
      "method" : "$qsubmissionmethod"
      #set( $control_coma = true )
    #end

    #if ( $qsubmissionmethoddetails )
      #if ( $control_coma )
        ,
      #end
      "methodDetails" : "$qsubmissionmethoddetails"
      #set( $control_coma = true )
    #end

    #if ( $control_sub )
      }
    #end
    #set( $control_sub = false )

    #if ( $qenquiry )
      #if ( $control_coma )
        ,
      #end
      "enquiry" : "$qenquiry"
      #set( $control_coma = true )
    #end

    #if ( $qeligibilitycriteria )
      #if ( $control_coma )
        ,
      #end
      "eligibilityCriteria" : "$qeligibilitycriteria"
      #set( $control_coma = true )
    #end

    #* Tender Period *#
    #if ( $qtenderperiodstartdate || $qtenderperiodenddate )
      #if ( $control_coma )
        ,
      #end
        "tenderPeriod" : {
        #set( $control_sub = true )
        #set( $control_coma = false )
    #end

    #if ( $qtenderperiodstartdate )
      #if ( $control_coma )
        ,
      #end
      "startDate" : "$qtenderperiodstartdate"
      #set( $control_coma = true )
    #end

    #if ( $qtenderperiodenddate )
      #if ( $control_coma )
        ,
      #end
      "endDate" : "$qtenderperiodenddate"
      #set( $control_coma = true )
    #end

    #if ( $control_sub )
      }
    #end
    #set( $control_sub = false )

  #* Value *#
  #if ( $qminvalueamount || $qminvaluecurrency || $qmaxvalueamount || $qmaxvaluecurrency)
    #if ( $control_coma )
      ,
    #end
      "value" : {
      #set( $control_sub = true )
      #set( $control_coma = false )
  #end

  #if ( $qminvalueamount )
    #if ( $control_coma )
      ,
    #end
    "minEstimatedAmount" : "$qminvalueamount"
    #set( $control_coma = true )
  #end

  #if ( $qminvaluecurrency )
    #if ( $control_coma )
      ,
    #end
    "minEstimatedCurrency" : "$qminvaluecurrency"
    #set( $control_coma = true )
  #end

  #if ( $qmaxvalueamount )
    #if ( $control_coma )
      ,
    #end
    "maxEstimatedAmount" : "$qmaxvalueamount"
    #set( $control_coma = true )
  #end

  #if ( $qmaxvaluecurrency )
    #if ( $control_coma )
      ,
    #end
    "maxEstimatedCurrency" : "$qmaxvaluecurrency"
    #set( $control_coma = true )
  #end

  #if ( $control_sub )
    }
  #end
  #set( $control_sub = false )

  #* Milestone level 1 *#
  #if ( $qmiltitle || $qmildescription || $qmilduedate || $qmildocid || $qmildoctype || $qmildoclanguage || $qmildocurl)
    #if ( $control_coma )
      ,
    #end
      "milestone" : {
      #set( $control_sub = true )
      #set( $control_coma = false )
  #end

  #if ( $qmiltitle )
    #if ( $control_coma )
      ,
    #end
    "title" : "$qmiltitle"
    #set( $control_coma = true )
  #end

  #if ( $qmildescription )
    #if ( $control_coma )
      ,
    #end
    "description" : "$qmildescription"
    #set( $control_coma = true )
  #end

  #if ( $qmilduedate )
    #if ( $control_coma )
      ,
    #end
    "dueDate" : "$qmilduedate"
    #set( $control_coma = true )
  #end

    #* Milestone document level 2 *#
    #if ( $qmildocid || $qmildoctype || $qmildoclanguage || $qmildocurl )
      #if ( $control_coma )
        ,
      #end
        "document" : {
        #set( $control_sub2 = true )
        #set( $control_coma = false )
    #end

    #if ( $qmildocid )
      #if ( $control_coma )
        ,
      #end
      "milestoneDocumentId" : "$qmildocid"
      #set( $control_coma = true )
    #end

    #if ( $qmildoctype )
      #if ( $control_coma )
        ,
      #end
      "milestoneDocumentType" : "$qmildoctype"
      #set( $control_coma = true )
    #end

    #if ( $qmildoclanguage )
      #if ( $control_coma )
        ,
      #end
      "milestoneDocumentLanguage" : "$qmildoclanguage"
      #set( $control_coma = true )
    #end

    #if ( $qmildocurl )
      #if ( $control_coma )
        ,
      #end
      "milestoneDocumentURL" : "$qmildocurl"
      #set( $control_coma = true )
    #end

    #if ( $control_sub2 )
      }
    #end
    #set( $control_sub2 = false )

  #if ( $control_sub )
    }
  #end
  #set( $control_sub = false )

  #if ( $qamendmentdate )
    #if ( $control_coma )
      ,
    #end
    "amendmentDate" : "$qamendmentdate"
    #set( $control_coma = true )
  #end

  }
